*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/futbolapk

# Sensitive files
google-services.json
serviceAccountKey.json
.env
app/google-services.json
functions/serviceAccountKey.json
firebase-scripts/serviceAccountKey.json
